.container{
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

.col-12 .text{
    padding: 20px 10px;
    text-align: justify;
}

.col-12 img{
   border-radius: 10px;
}

.col-12 .subtitulo{
    padding: 10px;
    text-align: center;
    font-weight: bold;
}