.imagen {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/musicosjacm.appspot.com/o/fondo-integrantes.jfif?alt=media&token=71166cce-67b8-429d-a844-a6a4bc5b2bd3");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  padding: 25%;
  position: relative;
  z-index: 1;
}

.grupoartista {
  padding: 10%;
  width: 100%;
  height: 100%;
}

.img_artista {
  border-radius: 50px;
  border: 8px double;
}

.bio_artista {
  text-align: justify;
}

.pres_artista {
  display: grid;
  place-items: center;
  padding: 20px;
}

.titulo_artista {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/musicosjacm.appspot.com/o/fondo_titulo4.jpg?alt=media&token=5d44877a-40bb-45eb-9547-25bba15b8023");
  padding: 60px;
  font-size: 3rem;
  color: black;
  text-align: center;
  font-weight: bold;
  background-repeat: unset;
}

.texto_artista {
  padding-top: 10px;
  width: 800px;
  height: auto;
  font-size: 1.5rem;
}

.text_rol,
.text_nacimiento {
  padding-top: 10px;
  font-size: 1.5rem;
}

.blancoYnegro {
  filter: grayscale(1);
}
